{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <p>Export options:</p>
      <table id='table' class='table table-hover'></table>
    </div>
  </div>
  <link rel="stylesheet" type="text/css" href="./css/datatables.min.css"/>
  <script type="text/javascript" src="./js/datatables.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      var data = JSON.parse('{{ table }}');
      var filename = 'metadata';
      var table = $('#table'), head = $('<thead></thead>'), row = $('<tr></tr>');
      table.append(head);
      head.append(row);
      $.each(data.columns, function(i, val) {
        row.append(function() {
          var cell = '<th>' + val[0] + '<br>';
          if (i === 0) {
            cell += '<span class="label label-default">#q2:types</span>';
          } else {
            var type = val[1] === 'numeric' ? 'primary' : 'success';
            cell += '<span class="label label-' + type + '">' + val[1] +'</span>';
          }
          cell += '</th>';
          return cell;
        });
      });

      table.DataTable({
        data: data.data,
        fixedHeader: true,
        pageLength: {{ page_size }},
        dom: 'Bfrtip',
        buttons: [
          { extend: 'csv', filename: filename, text: 'TSV', fieldSeparator: '\t', extension: '.tsv' },
          { extend: 'csv', filename: filename },
          { extend: 'excel', filename: filename },
          { extend: 'copy', fieldBoundary: '"' },
          'print',
        ],
      });
    });
  </script>
{% endblock %}
